<template>
  <div>
    <alert :data="data.alert"></alert>
    <content-header :data="data"></content-header>
    <vuebutton
      type="button"
      :id="'CreateContact_1'"
      class="btn btn-block btn-success"
      :val="'Kurti naują'"
      style="width: 120px; margin-left: 10px"
    ></vuebutton>
    <br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Kontaktų sąrašas</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div
                id="example2_wrapper"
                class="dataTables_wrapper dt-bootstrap4"
              >
                <div class="row">
                  <div class="col-sm-12 col-md-6"></div>
                  <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table
                      id="example2"
                      class="
                        table table-bordered table-hover
                        dataTable
                        dtr-inline
                      "
                      role="grid"
                      aria-describedby="example2_info"
                    >
                      <thead>
                        <tr role="row">
                          <th
                            class="sorting sorting_asc"
                            tabindex="0"
                            aria-controls="example2"
                            rowspan="1"
                            colspan="1"
                            aria-sort="ascending"
                          >
                            Kontakto vardas
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example2"
                            rowspan="1"
                            colspan="1"
                          >
                            Email
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example2"
                            rowspan="1"
                            colspan="1"
                          ></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="c in data.contacts.data"
                          v-bind:key="c.id"
                          class="odd"
                        >
                          <td class="dtr-control sorting_1" tabindex="0">
                            {{ c.name }}
                          </td>
                          <td>{{ c.email }}</td>
                          <td align="center">
                            <vuebutton
                              type="button"
                              :id="'submit_' + c.id"
                              class="btn btn-success fas fa-edit"
                            ></vuebutton>
                            <vuebutton
                              type="button"
                              :id="'delete_' + c.id"
                              class="btn btn-danger fas fa-trash-alt"
                            ></vuebutton>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <paginate
                  :url="'Contacts'"
                  :param="'&tab=1'"
                  :data="data.contacts"
                ></paginate>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</template>

<script>
export default {
  props: ["data"],
  mounted() {
    console.log(this.data);
  },
  methods: {
    afterClick(setData, button_id) {
      if (button_id[0] == "CreateContact") {
        this.CreateContact(setData, button_id);
      } else if (button_id[0] == "submit") {
        this.SubmitContact(setData, button_id);
      } else if (button_id[0] == "delete") {
        this.DeleteContact(setData, button_id);
      }
    },
    SubmitContact(setData, button_id) {
      var y = function (data) {
        $("#loader").hide();
        $("#content").html(data.html);
        $("#content").append(data.html2);
      };
      var data = {};
      data.id = button_id[1];
      doAjax("CreateContact", data, y);
    },
    DeleteContact(setData, button_id) {
      var y = function (data) {
        $("#loader").hide();
        $("#content").html(data.html);
        $("#content").append(data.html2);
      };
      var data = {};
      data.id = button_id[1];
      doAjax("DeleteContact", data, y);
    },
    CreateContact(setData, button_id) {
      var y = function (data) {
        $("#loader").hide();
        $("#content").html(data.html);
        $("#content").append(data.html2);
      };
      var data = {};
      doAjax("CreateContact", data, y);
    },
  },
};
</script>
