<template>
  <div v-if="data != null" :class="'alert alert-'+data.type+' alert-dismissible'">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      ×
    </button>
        {{data.text}}
  </div>
</template>

<script>
export default {
    props: ['data']
}
</script>
