<template>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{data.pageName}}</h1>
          </div>
        </div>
      </div>
    </section>
</template>
<script>
export default {
    props: ['data'],
    mounted() {

    }
}
</script>
