<template>
<div>
<br><pagination :data="data" @pagination-change-page="getResults" :limit=10></pagination><br>
</div>
</template>

<script>
export default {
    props:['data', 'url', 'param'],
        methods: {
            getResults(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
            var y = function(data) {
                $("#loader").hide();
                $("#content").html(data.html);
            };
            doAjax('/'+this.url+'?page='+page+this.param, null, y);
            }
        }
}
</script>
