<template>
  <button v-bind:id="id">{{ val }}</button>
</template>

<script>
export default {
  props: ["id", "data", "val"],
  mounted() {
    var data = this.data;
    var This = this;

    $("#" + this.id).click({ data: this.data, This: this }, function () {
      var button_id = this.id;
      var split = button_id.split("_");
      This.$parent.afterClick(data, split);
    });
  },
};
</script>

<style scoped>
input {
  cursor: pointer;
}
</style>
