<template>
        <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :on-cancel="onCancel"
      :color="color"
      id="loader"
      :loader="loader"
      :background-color="background"
      :is-full-page="fullPage"
    ></loading>
</template>

<script>
	import Loading from "vue-loading-overlay";
	import "vue-loading-overlay/dist/vue-loading.css";
export default {
    mounted() {
        //this.isLoading = true;
    },
    data() {
    return {
      url_vue: '',
      tipas: 'POST',
      isLoading: false,
      fullPage: true,
      color: "#342424",
      loader: "dots",
      background: "black"
    };
  },
    components: {
    	Loading
	},
  methods: {
      onCancel() {
      //console.log("User cancelled the loader.");
    }
  }
}
</script>
