<template>
    <div v-bind:id="id" class="nav-link">{{ val }}</div>
</template>

<script>
export default {
  props: ["id", "url", "val"],
  mounted() {
        var id = this.id;
        var url = this.url;
        $("#"+this.id).click({ id: this.id, url: this.url },function() {
            var y = function(data){
                $("#loader").hide();
                $("#content").html(data.html);
            }
            doAjax(url, null, y);
        });
  },
};
</script>

<style scoped>
input {
  cursor: pointer;
}
</style>
