<template>
  <div
    class="modal fade show"
    id="modal-danger"
    style="display: block; padding-right: 17px"
    aria-modal="true"
    role="dialog"
  >
    <div class="modal-dialog">
      <div class="modal-content bg-danger">
        <div class="modal-header">
          <h4 class="modal-title">{{ data.title }}</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ data.text }}</p>
        </div>
        <div class="modal-footer justify-content-between">
          <vuebutton
            type="button"
            :id="'cancelconf'"
            class="btn btn-outline-light"
            :val="'Atšaukti'"
          ></vuebutton>
          <vuebutton
            type="button"
            :id="'confirmconf'"
            class="btn btn-outline-light"
            :val="data.conf"
          ></vuebutton>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>

<script>
export default {
  props: ["data"],
  methods: {
    afterClick(setData, button_id) {
      if (button_id[0] == "confirmconf") {
        this.confirm(setData, button_id);
      } else if (button_id[0] == "cancelconf") {
        this.cancel(setData, button_id);
      }
    },
    confirm(setData, button_id) {
      var y = function (data) {
        $("#loader").hide();
        $("#content").html(data.html);
      };
      var data = {};
      data.id = this.data.id;
      doAjax(this.data.url, data, y);
    },
    cancel(setData, button_id) {
      var y = function (data) {
        $("#loader").hide();
        $("#content").html(data.html);
      };
      doAjax(this.data.urlBack, setData, y);
    },
  },

  mounted() {},
};
</script>
