<template>
  <div
    class="modal fade show"
    id="modal-xl"
    style="display: block; padding-right: 17px"
    aria-modal="true"
    role="dialog"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Kurti kompaniją</h4>
          <vuebutton
            type="button"
            class="close"
            :id="'close_1'"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" :val="'×'"></span>
          </vuebutton>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Email adresas</label>
            <input
              type="email"
              class="form-control"
              id="email"
              :value="data.company.email"
              placeholder="Įveskite email"
            />
          </div>
          <div class="form-group">
            <label for="name">Vardas</label>
            <input
              type="text"
              class="form-control"
              :value="data.company.name"
              id="name"
              placeholder="Įveskite tekstą"
            />
          </div>
          <div class="form-group" v-if="data.type == 'edit'">
            <label for="name">Kontaktai</label>
            <select
              class="select2-multiple form-control"
              name="tags[]"
              multiple="multiple"
              id="select2Multiple"
            >
              <option v-for="c in data.contacts" v-bind:key="c.id" :value="c.id" :selected="c.selected > 0">{{c.name}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <vuebutton
            type="button"
            :id="'close_2'"
            class="btn btn-default"
            data-dismiss="modal"
            :val="'Atšaukti'"
          ></vuebutton>
          <vuebutton
            v-if="data.type == 'create'"
            type="button"
            :id="'submit'"
            class="btn btn-primary"
            :val="'Išsaugoti'"
          ></vuebutton>
          <vuebutton
            v-if="data.type == 'edit'"
            type="button"
            :id="'update'"
            class="btn btn-primary"
            :val="'Atnaujinti'"
          ></vuebutton>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>

<script>
export default {
  props: ["data"],
  methods: {
    afterClick(setData, button_id) {
      if (button_id[0] == "close") {
        this.Close(setData, button_id);
      } else if (button_id[0] == "submit") {
        this.Submit(setData, button_id);
      } else if (button_id[0] == "update") {
        this.Update(setData, button_id);
      }
    },
    Update(setData, button_id) {
      var y = function (data) {
        $("#loader").hide();
        $("#content").html(data.html);
      };
      var data = {};
      data.name = $("#name").val();
      data.email = $("#email").val();
      data.contacts = $("#select2Multiple").val();
      data.id = this.data.id;
      doAjax("UpdateCompany", data, y);
    },
    Close(setData, button_id) {
      var y = function (data) {
        $("#loader").hide();
        $("#content").html(data.html);
      };
      doAjax("Companies", setData, y);
    },
    Submit(setData, button_id) {
      var y = function (data) {
        $("#loader").hide();
        $("#content").html(data.html);
      };
      var data = {};
      data.name = $("#name").val();
      data.email = $("#email").val();
      doAjax("SubmitCompany", data, y);
    },
  },
};
</script>
